@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --hover: #2563eb;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1e2028;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

html {
  block-size: 100%;
  inline-size: 100%;
}

@media (orientation: landscape) {
  body {
    grid-auto-flow: column;
  }
}
.Moogt {
  font-size: 5rem;
}
/*effect-underline*/
.effect-underline:after {
	content: '';
  position: relative;
  display: flex;
  height: 1px;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 0px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

.effect-underline:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

/* Modify the scrollbar width and color */
::-webkit-scrollbar {
  width: 10px; 
  background-color: #262832;
}
.raise {
  transition: all 0.2s ease-in-out;
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
  transition: all 0.2s ease-in-out;
  cursor: default;
}
